/*must go after bootstrap.css */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(/static/fonts/Roboto-.ttf) format('ttf');
}
body{
    font-family: 'Roboto', "Lantinghei SC","Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",sans-serif;
}
img{
    max-width:100%;
}
.container {
    width: auto;
    max-width:860px;
}
.page{
    margin:0 auto;
    line-height:2em;
}

footer{
    margin: 20px auto;
    padding: 20px 1px;
    color: #aaa;
    text-align: center;
}
footer a{
    color: #777;
}

@media (min-width: 768px) {
  footer {
    text-align: left;
  }
  footer p {
    margin-bottom: 0;
  }
}

.margin-up{
    margin-top:-20px;
}

q:before, q:after{
    content:none;
}

.list-box{
    margin:auto;
    padding:50px 0;
}

.content {
    min-height:500px;
}
.right{
    float:right;
}
.left{
    float:left;
}

.draggable{
    cursor:move;
    padding-top:10px;
    padding-bottom:10px;
}

.start-q,.end-q,.start-a,.end-a{
    cursor:move;
    margin:8px 0;
    border-top-style:solid;
    border-top-width:2px;
    border-bottom-style:solid;
    border-bottom-width:2px;
}
.start-q{
    border-color:#f99;
}
.end-q{
    border-color:#7c7;
}
.start-a{
    border-color:#f9f;
}
.end-a{
    border-color:#99f;
}
.between-lines{
    width:100%;
    height:12px;
}
.between-lines.over {
    height:24px;
}
.over{
    border:2px dashed #99f;
}
.upload span{
    margin-right:20px;
    line-height:80px;
}
.upload .thumb{
    display:inline-block;
    min-width:280px;
    margin-right:20px;
}
.upload .thumb img{
    max-width:160px;
    max-height:80px;
}
.upload .del{
    float:right;
}

.move.glyphicon-list {
    cursor:move;
}
a.list-group-item span{
    pointer-events:none;
    display:inline-block;
}

