{% extends "base.html" %}

{% block body %}
<div class="list-box">
    <div class="list-group">
        {% if not pages %}
        <div class="list-group-item">
            Currently no pages.
        </div>
        {% endif %}
        {% for page in pages %}
        <a href="/_{{page.url}}" class="list-group-item" id="{{page._id}}">
            <i class="move glyphicon glyphicon-list"></i>
            &nbsp; &nbsp;<span style="min-width:260px;">{{page.url}}</span>
            &nbsp;&nbsp;<span style="min-width:190px;">{{page.title}}</span>
            &nbsp;&nbsp;<span class="small">{{page._id.generation_time.strftime('%Y-%m-%d')}}</span>
            &nbsp;&nbsp;{%if page.deleted %}<span class="label label-danger">Deleted</span>{% endif %}
            &nbsp;&nbsp;<span class="right history" style="padding-left:15px;"><i class="glyphicon glyphicon-time"></i></span>
            <span class="badge">{{page.viewed}}</span>
        </a>
        {% endfor %}
    </div>

    <a href="#" class="btn btn-success" id="new"><i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp; New Page</a>
</div>

{% endblock %}

{% block js %}
<script>
var urls = [{% for page in pages %}"{{page.url}}",{% endfor %}]
$('#new').click(function() {
    var url = prompt("Please enter the url", "/");
    if (url.length < 1 || url[0] != '/') {
        alert('Url must start with /');
    }
    else if (urls.indexOf(url) != -1) {
        alert('This url already exists');
    }
    else {
        window.location.href = '/_' + url;
    }
    return false;
});
$('.history').click(function() {
    var url = $(this).parent().attr('href');
    location.href = '/_hl' + url.slice(2);
    return false;
});


var dragSrc = null;
function handleDragStart(e) {
    dragSrc = $(this);

    e.originalEvent.dataTransfer.effectAllowed = 'move';
    e.originalEvent.dataTransfer.setData('text/plain', this.innerHTML);
}

function handleDragOver(e) {
    if (e.originalEvent.preventDefault) {
        e.originalEvent.preventDefault();
    }

    e.originalEvent.dataTransfer.dropEffect = 'move';
    return false;
}

function handleDragEnter(e) {
    $(this).addClass('over');
}

function handleDragLeave(e) {
    $(this).removeClass('over');
}

function handleDragEnd(e) {
    $('.over').removeClass('over');
}

function handleDrop(e) {
    if (e.originalEvent.stopPropagation) {
        e.originalEvent.stopPropagation();
    }

    if (!dragSrc || dragSrc.attr('id') == $(this).attr('id')) {
        return false;
    }

    $(this).removeClass('over');

    if (!dragSrc.attr('draggable')) {
        return false;
    }

    var c = dragSrc.wrap('<p/>').parent().html();
    dragSrc.unwrap();
    dragSrc.remove();

    $(this).after(c);
    draggable($(this).next());

    update();
    return false;
}

function update() {
    var m = {}, order = 0;
    $('a.list-group-item').each(function() {
        m[$(this).attr('id')] = order++;
    });

    shire.post('/_', {m: JSON.stringify(m)}, function(){
        //location.reload();
    });
}

function draggable(e) {
    e.attr('draggable', 'true');
    e.off();

    e.on('dragstart', handleDragStart);
    e.on('dragend', handleDragLeave);

    e.on('dragenter', handleDragEnter);
    e.on('dragover', handleDragOver);
    e.on('dragleave', handleDragLeave);
    e.on('drop', handleDrop);

    e.on('dragend', handleDragLeave);

}
draggable($('a.list-group-item'));
</script>
{% endblock %}
