{% extends "base.html" %}

{% block body %}
<div class="list-box">
    <form method="post" enctype="multipart/form-data">
        <label for="file">Filename:</label>
        <input type="file" name="file" id="file"><br>
        <input type="submit" name="submit" value="Submit" class="btn btn-success">
    </form>
    <hr>
    <div class="list-group">
        {% if not imgs %}
        <div class="list-group-item">
            Currently no uploads.
        </div>
        {% endif %}
        {% for img in imgs %}
        <div class="list-group-item upload">
            <span class="thumb">
                <img src="" title="{{img.name}}" />
            </span><span class="url">
                {{- img.url -}}
            </span>
            <span class="del">
                <button class="btn btn-danger btn-xs">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
            </span>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
{% block js %}
<script>
$(function() {
    $('.list-group-item img').each(function() {
        var url = $(this).parent().siblings('.url').text();
        $(this).error(function() {$(this).parent().html($(this).attr('title'));})
        .attr('src', url);
    });
    $('.del button').click(function() {

        var name = $(this).parents('.upload').find('img').attr('title');
        if (confirm('Really delete file ' + name + ' ?')) {
            var url = $(this).parents('.upload').find('.url').text();
            shire.post('/upload', {action:'delete', url:url}, function() {
                location.reload();
            });
        }
        else {
            return false;
        }
    });
});
</script>
{% endblock %}
